@import "colors";

main {
    >article {
        max-width: 70ch;
        padding-left: 2em;;
        padding-right: 2em;;
    }

    a {
        color: lighten($color: $primary, $amount: 10);

        &:visited {
            color: adjust-hue($color: lighten($primary, $amount: 10), $degrees: 90);
        }
    }
}